.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
  padding: 20px;
  background-color: #333;
  /* Dark background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
  max-width: 400px;
  margin: auto;
  /* Center the form */
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text {
  color: white;
  margin-bottom: 10px;
}

.button-submit {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button-delete {
  width: 100%;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button-submit:hover {
  background-color: #2b9b30;
}

.button-delete:hover {
  background-color: #f92516;
}