/* Header.css */

/* Reset default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Apply styles to the entire body */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

/* Header styles */
header {
  background-color: #333333;
  padding: 10px 0;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.header-dividers {
  width: 35px;
  height: auto;
  margin-right: 0px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #e15910;
  /* Change color on hover */
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* Align right */
}

/* Example styling for logged-in status links */
.nav-links a {
  text-decoration: none;
  color: #f7f4f4;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff6f01;
  /* Change color on hover */
}

.dropdown-container {
  position: relative;
}

#matches-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: black;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 14px;
}